.homemain-container{
    height: calc(100vh - 90px);
    width: 100%;
    text-align: center;
    background-image: url('../../assets/Banner3.png');
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}


.homemain-image{
    height: 100% !important;
    width: auto !important;
}



@media only screen and (max-width: 800px) {
    .homemain-container{
        height: calc(100vh - 90px);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-image: url('../../assets/BannerMobile.png');
        background-position: bottom;
    }

    .homemain-image{
        width: 100% !important;
        height: auto !important;
    }
}